.cust{
    text-align: center;
    font-weight: bold;
}

ion-grid{
    margin: 15px;
}
input{
    border:2px solid black;
}
p{
    font-weight: bold;
    margin: 15px;
}

.inp{
    width: 300px;
    margin: 15px;
}
button{
    color:black;
    border: 2px solid blue;
    background-color:white;
    font-size:20px;
    text-align: center;
    //padding-left:280px;
    float:right;
    margin-right: 35px;
    box-shadow: 5px 5px 5px grey;
}