input{
    //height:50px;
    //width:200px;
    border:2px solid black;
}

ion-content > div{
    margin:20px;
}

p{
    font-weight: bold;
}
.labe{
    border: 2px solid black;
    //margin: 15px;
}

.text{
    border:2px solid black;
}
.right{
    float:right;
    margin: 10px;
}
// button{
//     color:black;
//     border: 2px solid blue;
//     background-color:white;
//     font-size:20px;
//     text-align: center;
//     //padding-left:280px;
//     float:right;
//     margin-right: 35px;
   
// }