<ion-header>
  <ion-toolbar>
    <ion-title>
     Login Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div> -->
<ion-button (click)="log()" expand="block">Login</ion-button>
<ion-button expand="block" routerLink="/register" routerDirection="forward">Register</ion-button>
  
      <!-- <tr ngFor="let use for users">
        <td>{{users}}</td>
      </tr> -->
      <!-- <ion-button (click)="postHttp()">Post</ion-button> -->

</ion-content>
