<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Passwod</ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Phone Number</ion-label>
    <ion-input type="number" [(ngModel)]="user.number"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="onRegister()">Register</ion-button>
  <ion-button expand="block" href="/login">Login</ion-button>
</ion-content>
